<h1>Resultados de la búsqueda</h1>
  <% @posts.each do |post| %>
    <h3><%= post.title %></h3>
    <p> <%= post.text %> </p>
      <p class="post-footer align-right">
        <a class="comments"><%= link_to "Comentarios (" + post.comments.count.to_s + ")", post_path(post) %> </a>
        <a class="readmore"><%= link_to "Editar", edit_post_path(post) %> </a>
        <a class="destroy"><%= link_to "Eliminar", post_path(post),
                      method: :delete, data: { confirm: '¿Estás seguro?' } %> </a>
        <span class="date"> <%= post.created_at.to_date %> </span>
      </p>
      <hr width=90%/>
  <% end %>


<%= link_to 'Nuevo post', new_post_path %>