<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>El Blog de Pablo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="assets/images/EliteCircle.css" type="text/css" />
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <div id="header-content">
    <li><a href="../"><h1 id="logo">El Blog de <span class="orange">Pablo</span></h1></a></li>
    <h2 id="slogan">Donde la tecnología fluye...</h2>
    <div id="header-links">
      <%= render 'layouts/user_header' %>
    </div>
    <ul>
      <li><a><%= link_to "Home", root_path %></a></li>
      <li><a href="http://www.free-css.com/">News</a></li>
      <li><a href="http://www.free-css.com/">Downloads</a></li>
      <li><a href="http://www.free-css.com/">Support</a></li>
      <li><a href="http://www.free-css.com/">About</a></li>
    </ul>
  </div>
</div>
<div id="content-wrap">
  <div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div id="main"> <a name="TemplateInfo"></a>
      <%= yield %>
    </div>
    <div id="sidebar">
      <h1>Búsqueda</h1>
      <form action=<%= posts_search_path() %> class="searchform" method="POST">
        <p>
          <input name="text" class="textbox" type="text" />
          <input name="button" class="button" value="Buscar" type="submit" />
        </p>

      </form>
      <h1>Últimos Posts</h1>
      <ul class="sidemenu">
        <li><a href="http://www.free-css.com/">Home</a></li>
        <li><a href="#TemplateInfo">TemplateInfo</a></li>
        <li><a href="#SampleTags">Sample Tags</a></li>
        <li><a href="http://www.free-css.com/">More Templates...</a></li>
        <li><a href="http://www.free-css.com/">Premium Templates</a></li>
      </ul>
      <h1>Wise Words</h1>
      <p>&quot;No man becomes rich unless he enriches others.&quot;</p>
      <p class="align-right">- Andrew Carnegie</p>
    </div>
  </div>
</div>
<div id="footer">
  <div id="footer-content">
    <div class="col float-left">
      <h2>Links de interés</h2>
      <ul class="columns">
        <li class="top"><a href="http://rorusm2013.blogspot.com/"><strong>Taller Ruby on Rails</strong></a></li>
        <li><a href="http://railsforzombies.org/"><strong>Rails for Zombies</strong></a></li>
        <li><a href="http://rubyonrails.org/"><strong>Ruby on Rails</strong></a></li>
        <li><a href="http://usm.cl/"><strong>Universidad Técnica Federico Santa María</strong></a></li>
        <li><a href="http://www.inf.utfsm.cl/"><strong>Departamento de Informática UTFSM</strong></a></li>
      </ul>
    </div>
    <div class="col2 float-right">
      <p> &copy; copyright 2006 <strong>Your Company Name</strong><br />
        Design by: <a href="http://www.styleshout.com/">styleshout</a> &nbsp; &nbsp; Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://validator.w3.org/check/referer">XHTML</a> </p>
      <ul>
        <li><a href="../">Home</a></li>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>
</body>
</html>
